@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\000036}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000314}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000316}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000318}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000320}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000323}}
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000327}}
q:before, q:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/_meyer-reset\.scss}line{font-family:\0000330}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\000033}}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\000038}}
.menu:before {
  content: "[";
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\0000311}}
.menu:after {
  content: "]";
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\0000314}}
.menu > li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\0000316}}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/I\:\/Projects\/jenkins-ng-client\/app\/sass\/app\.scss}line{font-family:\0000320}}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
