<!doctype html>
<html lang="en" ng-app="jenkinsClient">
<head>
	<meta charset="utf-8">
	<title>Jenkins Angular Client</title>
	<link rel="stylesheet" href="css/app.css"/>
	<base href="/plugin/s3/index.html"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="cleartype" content="on"
></head>
<body>
	<header>
		<h1>Jenkins</h1>
		<div ng-controller="ProfileCtrl" class="profile-nav">
			<div class="btn-group">
				<button class="btn btn-inverse" ng-repeat="action in actions">
					<i class="icon icon-white" ng-class="action.icon"></i>
					<span class="text">{{action.name}}</span>
				</button>
			</div>
		</div>
	</header>
	<aside ng-controller="MenuCtrl" class="menu" ng-class="{disabled: !enabled}">
		<ul class="nav">
			<li ng-repeat="link in links">
				<a ng-click="launchTask(link)" class="ng-cloak">
					<i ng-class="link.iconClass"></i>
					<span>{{link.label}}</span>
				</a>
			</li>
		</ul>
	</aside>

	<section class="content" ng-controller="MainPageCtrl">
		<header>
			<h1 class="ng-cloak">{{title}}</h1>
			<div class="btn-group actions" ng-controller="ActionsCtrl">
				<a ng-repeat="action in actions" class="btn btn-large tip-bottom" tooltip="{{action.tooltipText}}" class="ng-cloak">
					<i class="{{action.iconClass}}"></i>
				</a>
			</div>
		</header>
		<div>
			<ul class="breadcrumb">
		  		<li ng-repeat="crumb in crumbs | limitTo:crumbs.length-1">
					<a ng-href="{{crumb.path}}" class="ng-cloak">
						<i class="icon-home" ng-hide="$index != 0"></i>
						{{crumb.name}}
					</a>
					<span class="divider">/</span>
				</li>
		  		<li ng-repeat="crumb in crumbs | limitTo: -1" class="ng-cloak">
					{{crumb.name}}
				</li>
			</ul>
		</div>
		<article class="container-fluid" ng-view>
		</article>
	</section>

	<footer>&copy; 2013 Powered by <a href="http://angularjs.org/">AngularJS</a>. Brought by <a href="https://github.com/SidhNor">SidhNor</a>
		<div app-version></div>
	</footer>

	<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<script src="lib/angular-ui/ui-bootstrap-custom-tpls.js"></script>
	<script src="jsbuild/jenkins-ng-client.js"></script>
</body>
</html>
