.content {
   background: none repeat scroll 0 0 #eeeeee;
   margin-left: $jenkins-ng-aside-width;
   @media #{$brkPtUpToTablet} {
      margin-left: $jenkins-ng-aside-width-small;
   }
   margin-right: 0;
   position: relative;
   width: auto;
   border-top-left-radius: $jenkins-ng-hero-radius;
   margin-top: -35px;
   min-height: 500px;

   > header {
      @include background(linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%));
      border-top-left-radius: $jenkins-ng-hero-radius;
      height: 80px;
      @media #{$brkPtUpToHandset} {
         margin-top: 0;
         height: 140px;
         text-align: center;
      }
      @include clearfix();
      > h1 {
         color: lighten($black, 35%);
         font-size: $baseFontSize * 2;
         font-weight: normal;
         float: left;
         text-shadow: 0 1px 0 #ffffff;
         margin-left: 20px;
         position: absolute;
         margin-top: 20px;
         @media #{$brkPtUpToHandset} {
            float: none;
            text-align: center;
            width: 100%;
            margin-left: 0;
         }
      }
      > .actions {
         float: right;
         right: 20px;
         position: absolute;
         margin-top: 20px;
         @media #{$brkPtUpToHandset} {
            margin-top: 70px;
            margin-bottom: 0;
            margin-right: 0;
            float: none;
            width: 100%;
            right: auto;
         }
      }
   }
}

.ng-cloak {
   display: none;
}