.content {
   background: none repeat scroll 0 0 #eeeeee;
   margin-left: $jenkins-ng-aside-width;
   margin-right: 0;
   position: relative;
   width: auto;
   border-top-left-radius: $jenkins-ng-hero-radius;
   margin-top: -35px;
   min-height: 500px;
   padding-bottom: 25px;

   > header {
      @include background(linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%));
      border-top-left-radius: $jenkins-ng-hero-radius;
      height: 80px;
      @include clearfix();
      > h1 {
         color: lighten($black, 35%);
         font-size: $baseFontSize * 2;
         font-weight: normal;
         float: left;
         text-shadow: 0 1px 0 #ffffff;
         margin-left: 20px;
         position: absolute;
      }
      > .actions {
         float: right;
         right: 20px;
         position: absolute;
      }
      > h1, > .actions {
         margin-top: 20px;
      }
   }
}
