.menu {
   float: left;
   position: relative;
   width: $jenkins-ng-aside-width;
   @media #{$brkPtHandsetToTablet} {
      width: $jenkins-ng-aside-width-small;
   }
   @media #{$brkPtUpToHandset} {
      float: none;
      width: 100%;
      > a {
         padding: 7px 20px 7px 15px;
         box-shadow: 0 1px 0 #666666;
         margin-bottom: 1px;
         display: block;
         text-transform: uppercase;
         color: #eeeeee;
         font-size: 10px;
         @include ng-border-side(bottom);
         &:hover {
            text-decoration: none;
         }
      }

      > .nav {
         width: 100%;
         background-color: #444;
      }
   }
   z-index: 2;
   background-color: #444;
   min-height: 465px;
   padding-bottom: 25px; 
   > a {
      color: $white;
   }
   > .nav {
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      @include ng-border-side(top);
      @include ng-border-side(bottom, #4E4E4E);

      > li {
         display: block;
         position: relative;
         @include ng-border-side(top, #4E4E4E);
         @include ng-border-side(bottom);

         > a {
            padding: 10px 0 10px 15px;
            display: block;
            color: #DDD;
            > i {
               @include opacity(0.5);
               vertical-align: top;
               margin-top: 2px;
               margin-right: 10px;
            }
         }
         > a:hover, > a:active {
            background-color: #4A4A4A;
            text-decoration: none;
         }
         span {
            @media #{$brkPtUpToTablet} {
              display: none;
            }

         }
      }
   }
}
