.menu {
   float: left;
   position: relative;
   width: $jenkins-ng-aside-width;
   @media #{$brkPtUpToTablet} {
      width: $jenkins-ng-aside-width-small;
   }
   z-index: 16;
   background-color: #444444;
   min-height: 465px;
   padding-bottom: 25px; 
   > .nav {
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      @include ng-border-side(top);
      @include ng-border-side(bottom, #4E4E4E);

      > li {
         display: block;
         position: relative;
         @include ng-border-side(top, #4E4E4E);
         @include ng-border-side(bottom);

         > a {
            padding: 10px 0 10px 15px;
            display: block;
            color: #DDD;
            > i {
               @include opacity(0.5);
               vertical-align: top;
               margin-top: 2px;
               margin-right: 10px;
            }
         }
         > a:hover, > a:active {
            background-color: #4A4A4A;
            text-decoration: none;
         }
         span {
            @media #{$brkPtUpToTablet} {
              display: none;
            }

         }
      }
   }
}
