// GLOBAL VALUES
// --------------------------------------------------

// Links
$linkColor:             #08c;
$linkColorHover:        darken($linkColor, 15%);

// Grays
$black:                 #000;
$grayDarker:            lighten($black, 10%);
$grayDark:              lighten($black, 25%);
$gray:                  lighten($black, 50%);
$grayLight:             lighten($black, 75%);
$grayLighter:           lighten($black, 90%);
$white:                 #fff;

// Accent colors
$blue:                  #049cdb;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;

// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDark;

// Typography

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, @textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0 6px;   // 22px

$baseBorderRadius:      4px;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border


// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         #bbb;

$btnPrimaryBackground:              $linkColor;
$btnPrimaryBackgroundHighlight:     adjust-hue($btnPrimaryBackground, 20%);

$btnInfoBackground:                 #5bc0de;
$btnInfoBackgroundHighlight:        #2f96b4;

$btnSuccessBackground:              #62c462;
$btnSuccessBackgroundHighlight:     #51a351;

$btnWarningBackground:              lighten($orange, 15%);
$btnWarningBackgroundHighlight:     $orange;

$btnDangerBackground:               #ee5f5b;
$btnDangerBackgroundHighlight:      #bd362f;

$btnInverseBackground:              #444;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $grayDark;
$dropdownLinkColorHover:        $white;
$dropdownLinkColorActive:       $white;

$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive;

/*Default values*/

$jenkins-ng-font-size : 14px;
$jenkins-ng-line-height: 20px;
$jenkins-ng-aside-width: 220px;
$jenkins-ng-hero-radius: 8px;
$jenkins-ng-header-height: 77px;

$jenkins-ng-default-border-thickness: 1px;
$jenkins-ng-default-border-style: solid;
$jenkins-ng-default-border-color: #393939;

$default-box-shadow-color : #333333;
$default-box-shadow-v-offset : 1px;
$default-box-shadow-blur : 3px;

/*Default values*/

@mixin ng-border-side(
	$side,
	$color    : $jenkins-ng-default-border-color,
	$thickness: $jenkins-ng-default-border-thickness,
	$style    : $jenkins-ng-default-border-style
){
	@if not ($side == top or $side == left or $side == right or $side == bottom) {
		@warn "$side expected to be one of the top/left/bottom/right values";
	}
	border-#{$side} : $thickness $style $color;
}