@import "bootstrap-compass/modules/modules";

@import "_jenkins-ng-bootloader";

// CSS Reset
@include reset();

// Grid system and page structure
@include scaffolding();
@include gridSystem(responsive);
@include gridSystem(input);
@include gridSystem(table);
@include layouts(responsive);
@include layouts(fixed);
// Base CSS
@include typography(true, true, true);
@include forms();
@include tables();
@include component-anims();
// Components: common
@include iconography();
@include dropdowns();
@include breadcrumbs();
@include accordions();
// Components: Buttons & Alerts
@include buttons();
@include bootstrap-alternate-buttons();
@include button-groups();
@include alerts();

@include tooltips();

@import "partials";
@import "modules";