@import "bootstrap-compass/modules/modules";
@import "jenkins-ng-mixins";


// CSS Reset
@include reset();

// Grid system and page structure
@include scaffolding();
@include gridSystem(responsive);
@include gridSystem(fixed);
@include gridSystem(input);
@include gridSystem(table);
@include layouts(responsive);
@include layouts(fixed);
// Base CSS
@include typography(true, true, true);
@include forms();
@include tables();
// Components: common
@include iconography();
@include dropdowns();
// Components: Buttons & Alerts
@include buttons();
@include bootstrap-alternate-buttons();
@include button-groups();
@include alerts();

@include tooltips();

@include responsive();


$iconSpritePath:          image-url("glyphicons-halflings.png", true);
$iconWhiteSpritePath:     image-url("glyphicons-halflings-white.png", true);


body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: $jenkins-ng-font-size;
	line-height: $jenkins-ng-line-height;
	color: #333;
	> header {
		height: $jenkins-ng-header-height;
		position: relative;
		z-index: -9;
		@include box-shadow;
		background-color: #333333;
		@include background(linear-gradient(top, #3F3F3F 0%, #222222 100%));
		@include ng-border-side(bottom, #555555);

		> h1 {
			color: white;
			font-size: 42px;
			line-height: $jenkins-ng-header-height;
			padding-left: 25px;
			font-family: CityBlueprint, Consolas, Arial;
		}
	}
}

a {
	text-decoration: none;
	color: #08c;
}

li {
	line-height: $jenkins-ng-line-height;
}

.menu {
	float: left;
	position: relative;
	width: $jenkins-ng-aside-width;
	z-index: 16;
	background-color: #444444;
	min-height: 465px;
	padding-bottom: 25px;	
}

footer {
	text-align: center;
}

.nav {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;
	@include ng-border-side(top);
	@include ng-border-side(bottom, #4E4E4E);

	> li {
		display: block;
		position: relative;
		@include ng-border-side(top, #4E4E4E);
		@include ng-border-side(bottom);

		> a {
			padding: 10px 0 10px 15px;
			display: block;
			color: #DDD;
		}
		> a:hover, > a:active {
			background-color: #4A4A4A
		}
	}
}

.content {
	background: none repeat scroll 0 0 #eeeeee;
	margin-left: $jenkins-ng-aside-width;
	margin-right: 0;
	position: relative;
	width: auto;
	border-top-left-radius: $jenkins-ng-hero-radius;
	margin-top: -35px;
	min-height: 500px;
	padding-bottom: 25px;

	> header {
		@include background(linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%));
		border-top-left-radius: $jenkins-ng-hero-radius;
		height: 80px;
	}
}

.breadcrumb {
	background-color: #e5e5e5;
	@include single-box-shadow(#ffffff);
	@include ng-border-side(top, #d6d6d6);
	@include ng-border-side(bottom, #d6d6d6);
	padding-left: 10px;
}