<div class="loader" ng-show="isLoggingIn"></div>
<div class="modal-body">
    <form name="loginForm">
    <fieldset>
      <legend>Login</legend>
      <label for="j_ng_username">Username</label>
      <input type="text" placeholder="Username" ng-model="user.j_username" name="j_ng_username" required>
      <label for="j_ng_password">Password</label>
      <input type="password" placeholder="Password" ng-model="user.j_password" name="j_ng_password" required>
      <alert ng-repeat="alert in alerts" type="alert.type" close="dismissAlert($index)">{{alert.msg}}</alert>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button ng-click="submit(user)" class="btn" ng-disabled="loginForm.$invalid || isLoggingIn">Log in</button>
</div>
